
<!-- Header/Navbar -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <!-- creates a clickable header -->
            <a href="#" class="navbar-brand">Recipe Book</a>
        </div>

        <div class="collapse navbar-collapse">
            <!-- unordered list -->
            <ul class="nav navbar-nav">
                <!-- list items that will be side-by-side -->
                <li><a href="#" (click)="onSelect('recipe')">Recipes</a></li>
                <li><a href="#" (click)="onSelect('shopping-list')">Shopping List</a></li>
            </ul>

            <!-- This will position the links to the right -->
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" appDropdown>
                    <!-- anchortag  -->
                    <a href="#" class="dropdown-toggle" role="button">
                        <!-- caret gives the dropdown a upside down arrow  -->
                        Manage <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Save Data</a></li>
                        <li><a href="#">Fetch Data</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>